<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="style_contact.css">
</head>
<body>
  <div class="contact-page">
    <h2>Contact us</h2>
    <div class="contact-info">
      <div class="item">
        <i class="icon fas fa-home"></i>
        Bashundhara R/a, Dhaka, Bangladesh
      </div>
      <div class="item">
        <i class="icon fas fa-phone"></i>
        +9 222 3990001
      </div>
      <div class="item">
        <i class="icon fas fa-envelope"></i>
        hotelbangla@gmail.com
      </div>
      <div class="item">
        <i class="icon fas fa-clock"></i>
        Saturday - Friday     24/7
      </div>
    </div>
    
  </div>
</body>
</html>